
extends ../layout
block content
   h1 Account page
   a(href="/user/logout") Exit
   br
   a(href="/user/mail") My Mail
   .add_mail_system
      form(action="/user/add_mail", method="POST")
         select(name="provider")
            option(val="---") Mail provider
            option(val="yandex") Yandex
            option(val="mailru") Mail.ru
            option(val="qip") QIP
         br
         input(type="text", name="login", placeholder="Login")
         br
         input(type="password", name="password", placeholder="Password")
         br
         button(type="submit") Add
