
extends ../layout
block content
   table
      thead
         tr
            th From
            th Date
            th Subject
      tbody
         tr
            td Me
            td Just now
            td Hello world


